
body{background: url(bg-lightl-884.jpg); margin:0; padding:0;
    font:16px/24px Arial,Tahoma, sans-serif; color: #272727;}

	a{text-decoration:none;}
	a: hover{transition: all 0.5s;}
	
/*структура сайту*/
div.mid{width: 1000px; margin: 0 auto;}
div.header{height: 100px; padding-top: 15px;
 background: 
radial-gradient(rgba(255,255,255,50), #B0C4DE 250px, transparent 250px) 8% -150px no-repeat; 
background-color: #B0C4DE; background-size: 500px 500px;}
div.footer{margin:20px; text-align: center; text-transform: uppercase;}

 /*Шапка сайту*/
 div.topmenu{float: right; height: 100px; line-height: 100px;}
 div.topmenu a{margin: 0 0 0 10px; color: #000000;}
 div.topmenu a:hover{color: #fff;}
 
 
  /*Контент сайту*/
div.fon{background: #f5f5f5; border: 1px solid #ccc; border-top: none; padding: 40px}
div.fon hr.line{border: none; border-bottom: 5px solid #B0C4DE; height:0; margin: 40px;}
 
 /*Підвал*/
div.footer span {margin: 0 20px;}
div.clear{clear: both;}
 

#str1{ /* Розміщення, жирність та розмір тексту "Студент", "Група"  */
	text-align: center;
	vertical-align: text-top;
	font-size: 17 pt;
	font-weight: bold;
}
.str1{ /* Ім'я та група студента */
	text-decoration: underline;
	font-weight: normal;
}
.DataPosition{ /* Розміщення, розмір речення "Вхідні дані" */
	position: absolute; 
	margin-top: 20px; 
	margin-left: 20px;
	font-size: 16pt;
}
.ResultPosition{ /* Розміщення, розмір речення "Результат" */
	position:  absolute; 
	margin-top: 175px; 
	margin-left: 20px;
	font-size: 16pt;
}
#table{ /* id для редагування таблиці вводу даних */
	position: absolute; 
	margin-top: 20px; 
	margin-left: 250px;
	background-color: #FAFAD2;
}
#bottomOne{ /* id для розміщення кнопки зміни кольору */
	position: absolute; 
	margin-top: 51px; 
	margin-left: 680px;
}
#bottomToo{ /* id для розміщення кнопки зміни шрифту */
	position: absolute; 
	margin-top: 111px; 
	margin-left: 680px;
}
#listOne{ /* id для розміщення речення "Колір" */
	position: absolute; 
	margin-left: 550px;
	font-size: 16pt;
}
#listToo{ /* id для розміщення речення "Шрифт" */
	position: absolute; 
	margin-top: 60px; 
	margin-left: 550px;
	font-size: 16pt;
}
.listOne{ /* клас для розміщення випадаючого списку колір шрифту */
	position: absolute; 
	margin-top: -15px; 
}
.listToo{ /* клас для розміщення випадаючого списку розміру шрифту */
	position: absolute; 
	margin-top: -15px; 
}
.imageOne{ /* Розміщення та редагування фото Трапеції */
	position: absolute; 
	margin-top: 220px; 
	margin-left: 250px;
}
.imageToo{ /* Розміщення та редагування фото формули */
	position: absolute; 
	margin-top: 290px; 
	margin-left: 580px;
	
}

 
 


